<div class="container">
  <div class="box-container">

    <h2 style="margin-left: 580px;background-color: rgb(223, 226, 228);margin-right: 580px;padding: 6px;">Employee Management System</h2>

    <div class="body">
      <form #empform="ngForm" (ngSubmit)="submit(empform.value)">
        <div class="form-group enter">
          <label for="firstname">FirstName</label>
          <input type="text" name="firstname" class="form-control" #firstname="ngModel" ngModel required
            pattern="[a-zA-Z]+">
          <div class="alert alert-danger" *ngIf="firstname.touched && firstname.invalid">
            <div *ngIf="firstname.errors?.['required']" class="validation-message">Enter your email</div>
            <div *ngIf="firstname.errors?.['pattern']" class="validation-message">First name must contain letters only.
            </div>
          </div>
        </div>
        <div class="form-group enter">
          <label for="lastname">LastName</label>
          <input type="text" name="lastname" class="form-control" #lastname="ngModel" ngModel required
            pattern="[a-zA-Z]+">
          <div class="alert alert-danger" *ngIf="lastname.touched && lastname.invalid">
            <div *ngIf="lastname.errors?.['required']" class="validation-message">Enter last name</div>
            <div *ngIf="lastname.errors?.['pattern']" class="validation-message">Last name must contain letters only.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="id">Employee Id</label>
          <!-- <input type="number" name="id" id="name" class="form-control" [(ngModel)]="id" #id="ngModel" ngModel required> -->
          <!-- Corrected Usage -->
<input type="number" name="id" id="name" class="form-control" #id="ngModel" ngModel required>

          <div class="alert alert-danger" *ngIf="id.touched && id.invalid">
            <div *ngIf="id.errors?.['required']" class="validation-message">Enter your Id</div>
            <!-- <div *ngIf="isInvalidId()" class="validation-message">Id must be less than 10,000 </div> -->
          </div>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" name="age" class="form-control" #age="ngModel" ngModel required>
          <div class="alert alert-danger" *ngIf="age.touched && age.invalid">
            <div *ngIf="age.errors?.['required']" class="validation-message">Enter your age</div>
            <div *ngIf="age.errors?.['age']" class="validation-message">Enter your age </div>
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="dept">Department</label>
          <input type="text" name="dept" class="form-control" #dept="ngModel"  ngModel
            required>
          <div class="alert alert-danger" *ngIf="dept.touched && dept.invalid">
            <div *ngIf="dept.errors?.['required']" class="validation-message">Enter last name</div>
            <div *ngIf="dept.errors?.['dept']" class="validation-message">Department must contain letters only. </div>
          </div>
        </div> -->

        <div class="form-group">
          <label for="dept">Department</label>
          <select name="dept" class="form-control" #dept="ngModel" ngModel required>
            <option value="" disabled>Select Department</option>
            <option *ngFor="let department of departmentlist" [value]="department">{{department}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="dept.touched && dept.invalid">
            <div *ngIf="dept.errors?.['required']" class="validation-message">Please select a department</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" #Email="ngModel" ngModel required>
          <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
            <div *ngIf="Email.errors?.['required']" class="validation-message">Enter your email</div>
            <div *ngIf="Email.errors?.['email']" class="validation-message">Please enter valid email </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input type="date" class="form-control" placeholder="Choose Date" ngModel required name="dob" #dob="ngModel">
          <div class="alert alert-danger" *ngIf="dob.touched && dob.invalid">
            <div *ngIf="dob.errors?.['required'] " class="validation-message">Enter your DateOfBirth</div>
            <div *ngIf="dob.errors?.['dob']" class="validation-message">Please enter date of birth </div>
          </div>
        </div>
        <label>Experience</label>

        <div class="status">
          <input type="radio" style="transform: translateX(-100px);" name="experience" value="fresher" ngModel
            required>Fresher

          <!-- </div>
        <div>
          <label> -->
          <input type="radio" name="experience" style="transform: translateX(-100px);" value="Experience" ngModel
            required> Experience

        </div>

        <div class="form-group">
          <label for="salary">Salary</label>
          <input type="number" name="salary" class="form-control" #salary="ngModel" ngModel required>
          <div class="alert alert-danger" *ngIf="salary.touched && salary.invalid">
            <div *ngIf="salary.errors?.['required']" class="validation-message">Salary must contain only integers.</div>
            <div *ngIf="salary.errors?.['salary']" class="validation-message">Salary must contain integers only. </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" name="address" class="form-control" #address="ngModel" ngModel required>
          <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
            <div *ngIf="address.errors?.['required']" class="validation-message">Enter your address</div>
            <!-- <div *ngIf="address.errors?.['address']">First name must contain letters only. </div> -->
          </div>
        </div>
        <button class="btn btn-primary submit" type="submit" style="color: black;border: 1px solid black;" [disabled]="empform.invalid">Submit</button>
        <div class="alert alert-danger" class="validation-message" *ngIf="empform.submitted && empform.invalid">
          Please fill in all the details.
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="employees.length > 0">
    <h2>Employee Details</h2>
    <table class="table ">
      <thead>
        <tr style="align-items: center;justify-content: center; text-align: center;">
          <th>Employee Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Department</th>
          <th>Email</th>
          <th>Date Of Birth</th>
          <th>Experience</th>
          <th>Salary</th>
          <th>Address</th>
          <th>Edit</th>
          <th>Delete</th>
          
          <!-- Add other table headers based on your form fields -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees;let i =index">
          <td>{{i+1}}</td>
          <!-- <td>{{employee.id}}</td> -->
          <td>{{ employee.firstname }}</td>
          <td>{{ employee.lastname }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.dept }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.dob }}</td>
          <td>{{ employee.experience }}</td>
          <td>{{ employee.salary}}</td>
          <td>{{ employee.address }}</td>


          <td>
            <button class="btn btn-secondary" style="background-color: rgb(223, 225, 226);" (click)="editEmployee(i)">Edit</button>
          </td>
          <td>
            <button class="btn btn-secondary" style="background-color: rgb(216, 216, 217);" (click)="deleteEmployee(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>